<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Hola <%= @user.username %>, tu aplicaci贸n ha sido rechazada por un usuario</h4>
    <p> Nombre de aplicaci贸n: <%=@app.name%> </p>
    <p>
      Link: http://67.205.141.163:8000/#/aplication/<%= @app.id %> <br/>
    </p>
    <p> Observaciones: <%=@comment%> </p>

    <p>*Con tres rechazos tu aplicaci贸n sera desactivada</p>
    <p>*Cada vez que generes un nuevo release tu aplicaci贸n sera revisada.</p>
  </body>
</html>