



<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
    Gracias por registrarse, para confirmar el registro entra al siguiente link:

    <p> Link: http://67.205.141.163:8000/#/confirm_email/<%= @user.confirm_token %> <br/> </p>
    
    
  </body>
</html>