<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    El siguiente código debes ingresarlo junto con tu nueva password

    <p> Codigo: <%=@token%> </p>


  </body>
</html>